modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 8083
externalPort = 4200

[[ports]]
localPort = 8084
externalPort = 3001

[[ports]]
localPort = 24909
externalPort = 5000

[[ports]]
localPort = 25728
externalPort = 3000

[[ports]]
localPort = 26022
externalPort = 3002

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_c3dlZXQtZ3J1Yi0yNS5jbGVyay5hY2NvdW50cy5kZXYk"

[nix]
packages = ["zip", "glib", "nss", "nspr", "atk", "at-spi2-atk", "cups", "dbus", "expat", "libdrm", "mesa", "xorg.libX11", "xorg.libxcb", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "pango", "cairo", "alsa-lib", "libgbm", "libxkbcommon"]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-ae7e6641-3444-4d2e-86eb-4da8b135a338"
